In [1]:
x = "hello"
x

'hello'

In [2]:
x = y = z = "apple"
[x,y,z]

['apple', 'apple', 'apple']

In [3]:
coin = ['heads','tails']
x,y = coin
print(x,y)

heads tails

In [6]:
x = 5
y = 7
a = "Hello "
b = "World"
print(x+y)
print(a+b)

12
Hello World

In [10]:
print(type(x), type(a))
type(a)

<class 'int'> <class 'str'>

str

In [14]:
x = "HELLO"
print(x[2])
z = "Single line string"
print(z)
y = """Multiline string
Python lets us have
multiline
strings!"""

print(y)

L
Single line string
Multiline string
Python lets us have
multiline
strings!

In [16]:
# Single line comment
"""
Multi
Line
Comment"""

a = "hello"
b = 5
print(a+b)

TypeError: can only concatenate str (not "int") to str

In [39]:
b = "Hello, World!"

print(b[2:5])
print(b[1:])
print(b[:4])
print(b[-1:])
print(b[:16])
print(b[-6:-1])

llo
ello, World!
Hell
!
Hello, World!
World

In [41]:
price = 60
print(f"Price of A1 is {price} rupees.")
print(f"Price of A2 is {50*price} rupees.")

Price of A1 is 60 rupees.
Price of A2 is 3000 rupees.

In [43]:
greeting = "Hello Dash."

print(f"User is Dash: {"Dash" in greeting}")
print(f"User is Devansh: {"Devansh" in greeting}")

User is Dash: True
User is Devansh: False

In [45]:
print(5/2)
print(5//2)

2.5
2

In [49]:
l = list("SDFCS1023")
l

['S', 'D', 'F', 'C', 'S', '1', '0', '2', '3']

In [65]:
lst = ['A','B','C','D','E','F','G','H','I','J']
print(lst[1])
print(lst[3:9])
print(lst[:8])
print(lst[5:])
print(lst[-7:-2])
lst.append("K")
lst[1:3] = ["P"]
print(lst)
lst[1:2]= ['X','Y','Z','T']
print(lst)
lst.insert(2,'R')
print(lst)
lst1 = ['1','2','3','4']
lst.extend(lst1)
print(lst)
print(lst + lst1)
print(lst1+lst)

lst2 = [1,2,3]
lst2.remove(2)
print(lst2)
lst2.pop()
print(lst2)

B
['D', 'E', 'F', 'G', 'H', 'I']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
['F', 'G', 'H', 'I', 'J']
['D', 'E', 'F', 'G', 'H']
['A', 'P', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']
['A', 'X', 'Y', 'Z', 'T', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']
['A', 'X', 'R', 'Y', 'Z', 'T', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']
['A', 'X', 'R', 'Y', 'Z', 'T', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', '1', '2', '3', '4']
['A', 'X', 'R', 'Y', 'Z', 'T', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', '1', '2', '3', '4', '1', '2', '3', '4']
['1', '2', '3', '4', 'A', 'X', 'R', 'Y', 'Z', 'T', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', '1', '2', '3', '4']
[1, 3]
[1]

In [68]:
tup = (1,2,3)
lst = list(tup)
lst[0]=4
tup = tuple(lst)
print(tup)
y = (1,)
tup += y
print(tup)

(4, 2, 3)
(4, 2, 3, 1)

In [72]:
tup = (1,2,3)
x,y,z = tup
print(x,y,z)
tup = (1,2,3,4,5)
x,*y,z = tup
print(x,y,z)
*x,y,z = tup
print(x,y,z)
x,y,*z = tup
print(x,y,z)

1 2 3
1 [2, 3, 4] 5
[1, 2, 3] 4 5
1 2 [3, 4, 5]

In [97]:
set1 = set([1,2,3,4,5])
for x in set1:
    print(x)

print(3 in set1)
print(6 in set1)
set1.add(6)
print(set1)
x = {9,10}
set1.update(x)
print(set1)
set1.remove(1)
print(set1)

set2 = set([10,11,12])
print(set1.union(set2))
print(set1.intersection(set2))

1
2
3
4
5
True
False
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 9, 10}
{2, 3, 4, 5, 6, 9, 10}
{2, 3, 4, 5, 6, 9, 10, 11, 12}
{10}

In [99]:
dict1 = {
    "Brand":"Lamborghini",
    "Model":"Aventador",
    "Year":2008,
}
print(dict1.items())
print(dict1.keys())
print(dict1.values())

dict_items([('Brand', 'Lamborghini'), ('Model', 'Aventador'), ('Year', 2008)])
dict_keys(['Brand', 'Model', 'Year'])
dict_values(['Lamborghini', 'Aventador', 2008])